{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "ecmaVersion": 6
  },
  "rules": {
  "semi": 0,
    "indent": ["error", "tab"]
  }
}
