@mixin centerVertically() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin centerVerticallyHorizontally() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}