@import "partials/variables"; //all the variables are stored here
@import "partials/mixins";    //sets properties of elements
@import "partials/functions"; //return a value

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

//top right bottom left
//shorthand notation

body {
  //overflow: hidden;
  font-size: 16px;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

.header {
  height: $header-height;
  //background-color: #212121;
  background-color: rgba(52, 73, 94, 1);

  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  .head-text {
    margin-left: 20px;
    text-align: left;
  }

  h6 {
    color: #ffffff;
  }

  a {
    text-decoration: none;
    margin: 0 0 10px 0;
    transition-duration: 0.2s;
    color: #ffffff;
    font-size: 2em;

    &:hover {
      color: #337ab7;
      text-decoration: none;
    }
  }
}

.content {
  padding: 0 0 $footer-height 0;
  margin: 0 15px 0 15px;

  .home-img {
    border-radius: 50%;
    overflow: hidden;
    margin-right: -10px;
    margin-top: 10px;

    &:hover {

    }
  }

  .text-block {
    display: block;
    font-size: 1em;
    padding: 0;
    margin-bottom: 20px;
  }

  .text {
    font-size: 1.5em;
    display: inline-block;
    padding: 0;

    a {
      transition-duration: 0.2s;

      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }

    .shudder {
      font-style: italic;
    }
  }
}

.footer {
  //background-color: rgba(52, 73, 94, 1);
  background-color: #212121;
  height: $footer-height;
  bottom: 0;
  color: #ffffff;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 0;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 10px !important;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      margin: 0 0 10px 0;
      display: block;
    }
  }

  .content {
    .home-img {
      width: calc(100% - 30px);
    }
  }
}

//todo: windows scroll
//todo: design for other display sizes
//todo: font stored locally