@import "partials/mixins"; //sets properties of elements
@import "partials/variables"; //all the variables are stored here
@import "partials/functions"; //return a value

body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  background-color: #212121;
  height: $header-height;

  .button {
    color: #212121;
    padding: 10px;
    transition-duration: 0.2s;
    background-color: white;
    display: inline-block;

    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
}

.headerText {
  color: white;
  font-size: 36px;
  margin: 0;
  text-align: center;
  line-height: $header-height;
}

img {
  width: 100%;
}