@import "partials/variables"; //all the variables are stored here
@import "partials/mixins";    //sets properties of elements
@import "partials/functions"; //return a value

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  background-color: #212121;
  height: $header-height;
  @include centerVertically();

  .text {
    color: white;
    margin: 0 0 10px 0;
  }

  a {
    color: #337ab7;
    text-decoration: none;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.content {
  margin: 10px 0 0 10px;
  font-size: 24px;
  color: #212121;
}

//todo: design for other display sizes